<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="milligram.css">
    <link rel="stylesheet" href="flashcard.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">

<body>
    <div class="container text-center">
        <h1>flashcards!</h1>
    </div>

    <div id="flashCardApp" class="container flex-grid-thirds">

        <div v-for="card in cards"
        class="card card-front col">
            <transition name="flip">
                <div v-show="!card.flipped" @click="flipCard(card)" class="card-text card-front-text">
                    <div class="pretext">
                        Question
                    </div>
                    <h2>
                        {{card.card_question}}
                    </h2>

                    <button class="button-white button-clear button-large">
                        FLIP
                        <i class="fas fa-sync-alt"></i>
                    </button>
                </div>
            </transition>

            <transition name="flip">
                <div v-show="card.flipped" @click="flipCard(card)" class="card-text card-back-text">
                    <div class="pretext">
                        Answer
                    </div>
                    <h2>
                        {{card.card_answer}}
                    </h2>

                    <button class="button-white button-clear button-large">
                        FLIP
                        <i class="fas fa-sync-alt"></i>
                    </button>
                </div>
            </transition>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src="flashcard.js"></script>
</body>

</html>